<?xml version="1.0"?>
<config>
  <modules>
    <Sumankcdotcom_Esewa>
      <version>0.1.0</version>
    </Sumankcdotcom_Esewa>
  </modules>
  <global>
    <models>
      <esewa>
        <class>Sumankcdotcom_Esewa_Model</class>
      </esewa>
    </models>
    <helpers>
      <esewa>
        <class>Sumankcdotcom_Esewa_Helper</class>
      </esewa>
    </helpers>
    <blocks>
      <esewa>
        <class>Sumankcdotcom_Esewa_Block</class>
      </esewa>
    </blocks>
  </global>
  <default>
    <payment>
      <esewa>
        <model>esewa/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Esewa</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </esewa>
    </payment>
  </default>
  <frontend>
    <routers>
      <esewa>
        <use>standard</use>
        <args>
          <module>Sumankcdotcom_Esewa</module>
          <frontName>esewa</frontName>
        </args>
      </esewa>
    </routers>
  </frontend>
</config>
